/* CSS untuk menu */
header {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

.menu-links {
    list-style-type: none;
    padding: 0;
}

.menu-links li {
    display: inline-block;
    margin-right: 20px;
}

.menu-links li:last-child {
    margin-right: 0;
}

.menu-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-links li a:hover {
    background-color: #555;
}

/* Efek unik */
.menu-links li:nth-child(odd) a {
    background-color: #ff6347; /* Warna untuk menu ganjil */
}

.menu-links li:nth-child(even) a {
    background-color: #4682b4; /* Warna untuk menu genap */
}

.menu-links li a::before {
    content: "\2022"; /* Simbol bullet */
    color: #fff;
    margin-right: 10px;
}

.menu-links li:first-child a::before {
    content: ""; /* Hilangkan simbol bullet untuk menu pertama */
}
