/* CSS untuk menu */
header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Menyusun elemen di header secara seimbang */
    align-items: center; /* Menyusun elemen secara vertikal tengah */
}

.logo-text {
    font-family: 'Arial', sans-serif; /* Mengatur jenis font */
    font-size: 24px; /* Mengatur ukuran font */
    font-weight: bold; /* Mengatur ketebalan font */
    color: #fff; /* Mengatur warna font */
    text-transform: uppercase; /* Mengatur teks menjadi huruf besar */
    margin-right: 20px; /* Jarak antara logo dengan menu */
}

.menu-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-links li {
    display: inline-block;
    margin-left: 20px; /* Jarak antara menu */
}

.menu-links li:first-child {
    margin-left: 0; /* Jarak pertama diatur menjadi 0 */
}

.menu-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.menu-links li a:hover {
    background-color: #555;
}
