/* CSS untuk menu */
header {
    position: relative; /* Atur posisi relatif untuk tombol hamburger */
}

#menu-toggle {
    display: none; /* Sembunyikan checkbox */
}

#menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #333;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
}

#menu {
    position: fixed;
    top: 0;
    left: -250px; /* Sembunyikan menu di samping kiri */
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease;
}

#menu-toggle:checked ~ #menu {
    left: 0; /* Tampilkan menu saat checkbox dicek */
}

.menu-links {
    list-style-type: none;
    padding: 0;
}

.menu-links li {
    padding: 10px;
}

.menu-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu-links li a:hover {
    text-decoration: underline;
}
